:root {
    --main-color: #0197cd;
    --emph-color: #006587;
}

body {
    font-family: 'Overpass', sans-serif;
    background-color: var(--main-color);
}

.navbar {
    background-color: var(--emph-color);
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.info_date {
    font-size: 1rem;
}

.info_extra {
    padding: 1.25rem;
    margin: 1.25rem 0;
    border: 1px solid var(--main-color);
    border-left-width: 0.5rem;
    border-right-width: 0.5rem;
    border-radius: 0.25rem;
}

.info_block {
    padding: 0.1rem 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info_block > h2 {
    margin: 1rem 0;
    padding: 1rem;
    border: 1px hidden var(--emph-color);
    border-bottom-style: dotted;
    border-left: 0.5rem dashed var(--emph-color);
    width: 100%;
}

.info_block p {
    padding: 0 1.5rem;
}

@media screen and (min-width: 576px) { 
    .info_block div.description {
        width: 80%;
    }
}


.info_list {
    list-style: none;
    margin: 0 1.5rem 1rem 1.5rem;
    padding: 0
}

.info_list > li {
    margin-bottom: 0.25rem;
}

.info_list > li::before {
    background-color: var(--main-color);
    content: "";
    display: inline-block;
    height: 0.4rem;
    width: 0.4rem;
    margin: 0.1rem 0.2rem 0.1rem 1.5rem;
}

.nav-link {
    font-weight: bold;
    font-size: 1.25rem;
}

.section_break {
    border-top: 0.4rem dashed var(--emph-color);
    margin-bottom: 1.5rem;
    background-color: white;
    opacity: 1;
}

a {
    color: var(--main-color);
}

.container-fluid {
    background-image: url("../img/bg.png");
    min-height: 100vh;
    background-repeat: repeat-y;
}

.navbar .container {
    background-color: var(--emph-color);
}

.navbar .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(1, 151, 205, 1) ' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.container, .container-sm, .container.md, .container.lg, .container.xl, .container.xxl{
    background-color: white;
}

.text {
    padding: 1.5rem 1rem 1rem 1rem;
}

.text h4, .text h5 {
    font-weight: bold;
} 
